{% extends "base.html" %} 
{% load static %} 
{% block content %}

<nav class="breadcrumb__wrapper">
  <ol class="breadcrumb__list">
  <li class="breadcrumb__item"><a href="/home">Inicio</a></li>
  <li class="breadcrumb__item"><a href="/ver_convocatorias/">Ver convocatoria</a></li>
  <li class="breadcrumb__item">
    <a href="{% url 'dirigir_calificacion' convocatoria_id %}">Dirigir Calificación</a>
  </li>
  <li class="breadcrumb__item">
    <a href="{% url 'mostrar_documentos' convocatoria_id %}">Mostrar Documentos</a>
  </li>
  <li class="breadcrumb__item"><a href="{% url 'seleccionar_modulo' postulante_id %}">Selección de modalidad</a></li>
  <li class="breadcrumb__item">
    <a>Clase</a>
  </li>
</ol>
</nav>

<div class="clase_magistral" style="  display: flex;  flex-direction: row;  align-content: space-between;  margin: 10px auto 10px auto;position: relative;">
  
  {% if not tipo %}
  
    <div class="izquierda__clase"  style="    border: 10px solid #711610;    border-radius: 14px;    height: 56vh;    margin: auto 0px;    padding: 0px 30px 0px 0px;    width: 43vw;    padding: 5px;    display: flex;    align-items: center;    justify-content: center;">
      <div class="mostrar__clase">
        <!-- Aquí se inserta la transmisión de Jitsi Meet -->
        <iframe         src="https://meet.jit.si/ClaseEvaluacion_{{ postulante.persona.dni }}"         style="width: 100%; height: 50vh; width: 40vw; border: 0; border-radius: 8px;"         allow="camera; microphone; fullscreen; display-capture"></iframe>
      </div>
    </div>

    <div class="derecha__clase"  style="    height: 50vh;    margin: 0px;    margin-left: 40px;    width: 20vw;    text-align: center;    font-size: 20px;  ">
      <div class="horas" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div class="inicio" style="text-align: left;">
          <span style="font-size: 13px;">Hora Inicio:</span>
          <span style="font-size: 13px;">{{ clase_magistral.horaProgramada }}</span>
        </div>
        <div class="fin" style="text-align: right;">
          <span style="font-size: 13px; text-align: right;">Hora Fin:</span>
          <span style="font-size: 13px; text-align: right;">{{ hora_final }}</span>
        </div>
      </div>
      <div class="calificar__clase">
        <h2  style="        font-size: 15px;        font-weight: 800;        padding: 10px 0px 10px;    ">Calificar clase magistral</h2>
        <div  style="        padding: 5px 18px 5px 10px;        border: 3px solid black;        border-radius: 20px;      ">
          <form method="post" id="form_clase">
          {% csrf_token %}
          <div class="item__cuadro" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <h3 style="font-size: 11px; font-weight: 100; width: 400px; padding: 20px 13px 10px 15px; text-align: right;">Claridad en la Exposición y Metodología Didáctica</h3>
            <div style="display: flex; flex-direction: column-reverse;">
              <input style="border: 2px solid black; text-align: center; padding: 5px 0px; border-radius: 10px;" type="number" id="c1" name="c1" min="0" max="20" required>
              <label style="font-size: 10px; text-align: right;" for="c1" class="label__criterio">(0-20)</label>
            </div>
          </div>
          <div class="item__cuadro" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <h3 style="font-size: 11px; font-weight: 100; width: 400px; padding: 20px 13px 10px 15px; text-align: right;">Grado de Conocimiento</h3>
            <div style="display: flex; flex-direction: column-reverse;">
              <input style="border: 2px solid black; text-align: center; padding: 5px 0px; border-radius: 10px;" type="number" id="c2" name="c2" min="0" max="10" required>
              <label style="font-size: 10px; text-align: right;" for="c2" class="label__criterio">(0-10)</label>
            </div>
          </div>
          <div class="item__cuadro" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <h3 style="font-size: 11px; font-weight: 100; width: 400px; padding: 20px 13px 10px 15px; text-align: right;">Aptitud para Motivar el Interés del Tema</h3>
            <div style="display: flex; flex-direction: column-reverse;">
              <input style="border: 2px solid black; text-align: center; padding: 5px 0px; border-radius: 10px;" type="number" id="c3" name="c3" min="0" max="10" required>
              <label style="font-size: 10px; text-align: right;" for="c3" class="label__criterio">(0-10)</label>
            </div>
          </div>
          <div class="item__cuadro" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
            <h3 style="font-size: 11px; font-weight: 100; width: 400px; padding: 20px 13px 10px 15px; text-align: right;">Absolución de Preguntas del Jurado y del Auditorio</h3>
            <div style="display: flex; flex-direction: column-reverse;">
              <input style="border: 2px solid black; text-align: center; padding: 5px 0px; border-radius: 10px;" type="number" id="c4" name="c4" min="0" max="10" required>
              <label style="font-size: 10px; text-align: right;" for="c4" class="label__criterio">(0-10)</label>
            </div>
          </div>
          <button type="submit" id="boton_confirmar"   style="          background-color: #711610;           color: #fff;          width: 120px;          text-align: center;          font-size: 14px;          font-weight: 300;          line-height: 30px;          border-radius: 30px;          padding: 5px 0px;          margin-top: 10px;          margin-bottom: 10px;        ">Guardar</button>
        </form>
        </div>
      </div>
    </div>
    
  {% endif %}

  {% if tipo %}

    <div class="derecha__clase"  style="    height: 60vh;    margin: 0px;    margin-left: 40px;    width: 50vw;    text-align: center;    font-size: 20px;  ">
      <div class="horas" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div class="inicio" style="text-align: left;">
          <span style="font-size: 13px;">Hora Inicio:</span>
          <span style="font-size: 13px;">{{ clase_magistral.horaProgramada }}</span>
        </div>
        <div class="fin" style="text-align: right;">
          <span style="font-size: 13px; text-align: right;">Hora Fin:</span>
          <span style="font-size: 13px; text-align: right;">{{ hora_final }}</span>
        </div>
      </div>

      <div class="calificar__clase">
        <h2  style="        font-size: 20px;        font-weight: 800;        padding: 10px 0px 10px;    ">Calificar clase magistral</h2>
        <div  style="        padding: 10px 0px;        border: 3px solid black;        border-radius: 20px;      ">
          <form method="post" id="form_clase">
          {% csrf_token %}
          <div class="item__cuadro" style="display: flex; flex-direction: row; align-items: center; justify-content: center ; margin-bottom: 5px;">
            <h3 style="font-size: 13px; font-weight: 100; width: 300px; padding: 20px 13px 10px 15px; text-align: right;">Claridad en la Exposición y Metodología Didáctica</h3>
            <div style="display: flex; flex-direction: column-reverse;">
              <input style="border: 2px solid black; text-align: center; padding: 5px 0px; border-radius: 10px;" type="number" id="c1" name="c1" min="0" max="20" required>
              <label style="font-size: 10px; text-align: right;" for="c1" class="label__criterio">(0-20)</label>
            </div>
          </div>
          <div class="item__cuadro" style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 5px;">
            <h3 style="font-size: 13px; font-weight: 100; width: 300px; padding: 20px 13px 10px 15px; text-align: right;">Grado de Conocimiento</h3>
            <div style="display: flex; flex-direction: column-reverse;">
              <input style="border: 2px solid black; text-align: center; padding: 5px 0px; border-radius: 10px;" type="number" id="c2" name="c2" min="0" max="10" required>
              <label style="font-size: 10px; text-align: right;" for="c2" class="label__criterio">(0-10)</label>
            </div>
          </div>
          <div class="item__cuadro" style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 5px;">
            <h3 style="font-size: 13px; font-weight: 100; width: 300px; padding: 20px 13px 10px 15px; text-align: right;">Aptitud para Motivar el Interés del Tema</h3>
            <div style="display: flex; flex-direction: column-reverse;">
              <input style="border: 2px solid black; text-align: center; padding: 5px 0px; border-radius: 10px;" type="number" id="c3" name="c3" min="0" max="10" required>
              <label style="font-size: 10px; text-align: right;" for="c3" class="label__criterio">(0-10)</label>
            </div>
          </div>
          <div class="item__cuadro" style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-bottom: 5px;">
            <h3 style="font-size: 13px; font-weight: 100; width: 300px; padding: 20px 13px 10px 15px; text-align: right;">Absolución de Preguntas del Jurado y del Auditorio</h3>
            <div style="display: flex; flex-direction: column-reverse;">
              <input style="border: 2px solid black; text-align: center; padding: 5px 0px; border-radius: 10px;" type="number" id="c4" name="c4" min="0" max="10" required>
              <label style="font-size: 10px; text-align: right;" for="c4" class="label__criterio">(0-10)</label>
            </div>
          </div>
          <button type="submit" id="boton_confirmar"   style="          background-color: #711610;           color: #fff;          width: 120px;          text-align: center;          font-size: 14px;          font-weight: 300;          line-height: 30px;          border-radius: 30px;          padding: 5px 0px;          margin-top: 10px;          margin-bottom: 10px;        ">Guardar</button>
        </form>
        </div>
      </div>
    </div>

  {% endif %}

</div>

{% endblock %}

