{% extends "base.html" %}
{% load static %}
{% block content %}

<ol class="breadcrumb__list">
    <li class="breadcrumb__item">
      <a href="/home">Inicio</a>
    </li>
    <li class="breadcrumb__item">
      <a href="/ver_convocatoria">Ver convocatoria</a>
    </li>
    <li class="breadcrumb__item">
      <a href="/dirigir_calificacion">Dirigir Calificación</a>
    </li>
    <li class="breadcrumb__item">
      <a>Informe</a>
    </li>
</ol>

<div class="informe" style="height: 700px;">
  <iframe src="{% url 'generar_informe_notas' convocatoria_id=convocatoria_id %}" width="100%" height="100%"></iframe>
</div>


<a href="{% url 'generar_informe_notas' convocatoria_id=convocatoria_id %}" target="_blank">
  <button>Exportar como PDF</button>
</a>



{% endblock %}
