{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-top: 5vh;
  padding-bottom: 5vh;
}

.modal-content {
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  width: 600px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  animation: aparecer 0.3s ease;
}


.modal-content .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}

.table__modal {
  width: 100%;
  overflow-x: auto;
  font-size: 14px;
  background-color: var(--c-white);
}

.table__modal thead tr {
  height: 3rem;
  width: 100%;
  color: var(--c-white);
  font-size: var(--t-size-xm);
  background-color: var(--c-gray-dark-3);
  text-align: center;
}

.table__modal th,
.table__modal td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.table__modal input[type="text"],
.table__modal input[type="file"],
.table__modal input[type="email"],
.table__modal select {
  width: 100%;
  border-radius: var(--b-radius-base);
  padding-block: 8px;
  padding-inline: 8px;
  border: 1px solid var(--c-gray-light-4);
  font-family: var(--t-size-base);
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.table__modal input[type="text"]:focus,
.table__modal input[type="file"]:focus,
.table__modal select:focus {
  border-color: var(--c-primary);
  outline: none;
}


.btn-agregar,
.btn-cancelar {
  background-color: var(--c-primary);
  width: max-content;
  padding-inline: 24px;
  padding-block: 12px;
  font-size: var(--t-size-base);
  cursor: pointer;
  border: none;
  color: var(--c-white);
  border-radius: var(--b-radius-base);
  font-weight: bold;
  transition: all 0.2s ease;
}

.btn-agregar:hover,
.btn-cancelar:hover {
  opacity: 0.95;
}

.btn-agregar:active,
.btn-cancelar:active {
  transform: scale(0.98);
}

.btn-cancelar {
  background-color: var(--c-gray-dark-3);
}

.upload-label {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 2px dashed #999;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.upload-label:hover {
  background-color: #f0f0f0;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
</style>


<h1>Revisión de Documentos</h1>
<div class="gestionar_documentos--parte_de_arriba" style="display: flex; flex-direction: row; justify-content: space-between;">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <ol class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="/home">Inicio</a></li>
      <li class="breadcrumb__item"><a href="/ver_convocatorias/">Ver convocatorias</a></li>
      <li class="breadcrumb__item"><a>Gestionar_Documentos</a></li>
    </ol>
  </div>


  <div style="margin-top: 1em; display: flex; flex-direction: column; gap: 0.5em;">
    <button onclick="mostrarModal()" class="button--primary">Agregar Postulante</button>
    <button name="eliminar" value="1" class="button--primary" form="form_gestionar_documentos">Eliminar</button>
  </div>
</div>

<h2>Lista de Postulantes</h2>

<form method="post" id="form_gestionar_documentos">
  {% csrf_token %}
  <table class="table__primary">
    <thead>
      <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha</th>
        <th>Documento</th>
        <th>Seleccionar</th>
      </tr>
    </thead>
    <tbody>
      {% for postulante in postulantes %}
      <tr>
        <td>{{ postulante.id }}</td>
        <td>{{ postulante.persona.nombre }}</td>
        <td>{{ postulante.persona.apellidoPaterno }} {{ postulante.persona.apellidoMaterno }}</td>
        <td>{{ postulante.fecha_documento_mas_antiguo }}</td>
        <td>
          <button type="button" class="button--primary"
            onclick="verificarYMostrar({{ postulante.id }}, '{{ postulante.persona.nombre }} {{ postulante.persona.apellidoPaterno }} {{ postulante.persona.apellidoMaterno }}')">
            Visualizar Documentos
          </button>
          <script type="application/json" id="docs-{{ postulante.id }}">
            [
              {% for doc in postulante.documento_set.all %}
              {
                "tipo": "{{ doc.tipoDocumento|escapejs }}",
                "fecha": "{{ doc.fechaRecepcion }}",
                "estado": "{{ doc.estadoDocumento }}",
                "url": "{% url 'ver_documento' doc.id %}"
              }{% if not forloop.last %},{% endif %}
              {% endfor %}
            ]
          </script>
        </td>
       <td class="text-center align-middle">
        <input type="radio" name="postulante_id" value="{{ postulante.id }}" style="transform: scale(1.7);">
      </td>

      </tr>
      {% empty %}
      <tr><td colspan="6">No hay postulantes registrados.</td></tr>
      {% endfor %}
    </tbody>
  </table>

  <div style="margin-top: 1em;">
  </div>
</form>


<div id="modalAgregar" class="modal" style="display: none;" >
  <div>
    <div class="modal-content">
      <span class="close" onclick="cerrarModal()">&times;</span>
      <form method="post" enctype="multipart/form-data" action="{% url 'agregar_postulante' convocatoria.id %}">
        {% csrf_token %}
        <h2 style="text-align: center; margin-bottom: 1em;">Postulante N° {{ postulantes|length|add:1 }} Subir Documentos</h2>
      <table class="table__modal">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Datos Adicionales</th>
            <th>Tipo Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>
              <input type="text" name="nombre" placeholder="Nombre" required style="margin-bottom: 0.3em;"><br/>
              <input type="text" name="apellidoPaterno" placeholder="ApellPaterno" required style="margin-bottom: 0.3em;"><br/>
              <input type="text" name="apellidoMaterno" placeholder="ApellMaterno" required style="margin-bottom: 0.3em;">
            </td>
            <td>
              <input type="text" name="dni" placeholder="DNI" required maxlength="8" style="margin-bottom: 0.5em;"><br/>
              <input type="email" name="correo" placeholder="Correo electrónico" required style="margin-bottom: 0.5em;"><br/>
              <input type="text" name="telefono" placeholder="Teléfono" maxlength="9" required style="margin-bottom: 0.5em;"><br/>
              <select name="genero" required style="margin-bottom: 0.5em;">
                <option value="" disabled selected>Seleccione género</option>
                <option value="masculino">Masculino</option>
                <option value="femenino">Femenino</option>
              </select>
            </td>
                <td>
              <input type="text" name="tipoDocumento" placeholder="Ej: CV" required>
            </td>
          </tr>
        </tbody>
      </table>

        <div style="text-align: center; margin-top: 1em;">
          <label for="archivo" class="upload-label" style="cursor: pointer;">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
            <br>Subir Documento
          </label>
          <input type="file" name="archivo" id="archivo" style="display: none;" required>

          <div style="margin-top: 1em; display: none;">
            <div id="preview-pdf-container" style="margin-top: 1em; display: none;">
              <h4>Vista previa:</h4>
              <iframe id="preview-pdf" width="100%" height="400px" style="border: none;"></iframe>
            </div>
          </div>

        </div>

        <div style="text-align: center; margin-top: 2em;">
          <button type="submit" class="btn-agregar">Agregar</button>
          <button type="button" onclick="cerrarModal()" class="btn-cancelar">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="modalVerDocumentos" class="modal" style="display: none;">
  <div>
      <div class="modal-content">
        <span class="close" onclick="cerrarModalVerDocumentos()">&times;</span>
        <h3 style="margin-bottom: 8px;">Datos de Postulante</h3>
        <p id="nombrePostulante" style="font-weight: bold; margin-bottom: 10px;"></p>

        <div style="display: flex; gap: 1em; justify-content: center; margin-bottom: 1em;">
          <button type="button" class="button--primary" onclick="enviarAccionDocumentos(actualPostulanteId, 'aceptar')">Aceptar</button>
          <button type="button" class="button--primary" onclick="enviarAccionDocumentos(actualPostulanteId, 'rechazar')">Rechazar</button>
        </div>

        <div id="contenedorDocumentos">
        </div>
      </div>
  </div>
</div>

<a href="{% url 'postulantes_aptos' convocatoria.id %}" class="button--primary">Postulantes Aptos</a>
<script> 
  {% comment %} http://localhost:8000/descargar-pdf/1/ {% endcomment %}

</script>

<script>

  function mostrarModal() {
    document.getElementById("modalAgregar").style.display = "block";
  }

  function cerrarModal() {
    document.getElementById("modalAgregar").style.display = "none";
  }

  document.getElementById("archivo").addEventListener("change", function (event) {
    const file = event.target.files[0];
    const previewContainer = document.getElementById("preview-pdf-container");
    const iframe = document.getElementById("preview-pdf");

    if (file && file.type === "application/pdf") {
      const fileURL = URL.createObjectURL(file);
      iframe.src = fileURL;
      previewContainer.style.display = "block";
    } else {
      iframe.src = "";
      previewContainer.style.display = "none";
      alert("Por favor, seleccione un archivo PDF.");
    }
  });

  window.addEventListener("click", function (e) {
    const modalAgregar = document.getElementById("modalAgregar");
    if (e.target === modalAgregar) {
      modalAgregar.style.display = "none";
    }
  });

  let actualPostulanteId = null;
  function mostrarModalVerDocumentos(postulanteId, nombreCompleto, documentos) {
    actualPostulanteId = postulanteId;
    const modal = document.getElementById("modalVerDocumentos");
    const nombreElem = document.getElementById("nombrePostulante");
    const contenedor = document.getElementById("contenedorDocumentos");

    nombreElem.textContent = nombreCompleto;


    contenedor.innerHTML = "";


    async function obtenerBlobUrl(docId) {
      const response = await fetch(`/descargar-pdf/${docId}/`);
      const blob = await response.blob();
      return URL.createObjectURL(blob);
    }

    documentos.forEach(async (doc) => {
      const match = doc.url.match(/\/(\d+)\/?$/);
      const docId = match ? match[1] : null;

      if (!docId) {
        console.error("No se pudo obtener el ID del documento desde la URL", doc.url);
        return;
      }

      const blobUrl = await obtenerBlobUrl(docId);



      const docElem = document.createElement("div");
      docElem.innerHTML = `
        <div style="margin-bottom: 1em; border: 1px solid #ccc; padding: 10px; border-radius: 8px;">
          <p><strong>Tipo:</strong> ${doc.tipo}</p>
          <p><strong>Fecha:</strong> ${doc.fecha}</p>
          <p style="margin-bottom: 8px;"><strong>Estado:</strong> ${doc.estado}</p>
          <iframe src="${blobUrl}" width="100%" height="300px" style="border: none;"></iframe>
        </div>
      `;
      contenedor.appendChild(docElem);
    });


    document.querySelector(".btn-agregar").onclick = function () {
      enviarAccionDocumentos(postulanteId, "aceptar");
    };
    document.querySelector(".btn-cancelar").onclick = function () {
      enviarAccionDocumentos(postulanteId, "rechazar");
    };


    modal.style.display = "block";
  }

  function cerrarModalVerDocumentos() {
    document.getElementById("modalVerDocumentos").style.display = "none";
  }

  window.addEventListener("click", function (e) {
    const modal = document.getElementById("modalVerDocumentos");
    if (e.target === modal) {
      modal.style.display = "none";
    }
  });

  function enviarAccionDocumentos(postulanteId, accion) {
    const form = document.createElement("form");
    form.method = "POST";
    form.action = ""; 

    const csrfToken = document.querySelector("input[name='csrfmiddlewaretoken']").value;

    form.innerHTML = `
      <input type="hidden" name="csrfmiddlewaretoken" value="${csrfToken}">
      <input type="hidden" name="postulante_id" value="${postulanteId}">
      <input type="hidden" name="accion_documentos" value="${accion}">
    `;

    document.body.appendChild(form);
    form.submit();
  }

  function verificarYMostrar(postulanteId, nombreCompleto) {
  const radio = document.querySelector(`input[name='postulante_id'][value='${postulanteId}']`);
  if (!radio || !radio.checked) {
    alert("Por favor, seleccione este postulante antes de visualizar sus documentos.");
    return;
  }

  const docsScript = document.getElementById(`docs-${postulanteId}`);
  if (docsScript) {
    const documentos = JSON.parse(docsScript.textContent);
    mostrarModalVerDocumentos(postulanteId, nombreCompleto, documentos);
  }

}

  document.querySelector('input[name="dni"]').addEventListener('blur', function () {
    const dni = this.value.trim();
    if (dni.length !== 8) return; 

    fetch(`/buscar_persona_por_dni/?dni=${dni}`)
      .then(response => response.json())
      .then(data => {
        if (data.existe) {
          const p = data.persona;
          document.querySelector('input[name="nombre"]').value = p.nombre;
          document.querySelector('input[name="apellidoPaterno"]').value = p.apellidoPaterno;
          document.querySelector('input[name="apellidoMaterno"]').value = p.apellidoMaterno;
          document.querySelector('input[name="correo"]').value = p.correo;
          document.querySelector('input[name="telefono"]').value = p.telefono;
          document.querySelector('select[name="genero"]').value = p.genero;
        }
      })
      .catch(err => console.error("Error buscando persona:", err));
  });

  document.querySelector('input[name="dni"]').addEventListener('input', function () {
  this.value = this.value.replace(/\D/g, '').slice(0, 8);
  });

  document.querySelector('input[name="telefono"]').addEventListener('input', function () {
    this.value = this.value.replace(/\D/g, '');
  });

  document.querySelector('input[name="correo"]').addEventListener('input', function () {
    this.value = this.value.normalize("NFD").replace(/[\u0300-\u036f]/g, '');
  });



</script>



{% endblock %}
