{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'ver_convocatoria.css' %}" />

<div class="ver_convocatorias--parte_de_arriba" style="display: flex; flex-direction: row; justify-content: space-between;">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <ol class="breadcrumb__list">
      <li class="breadcrumb__item"><a href="/home">Inicio</a></li>
      <li class="breadcrumb__item"><a>Ver convocatoria</a></li>
    </ol>
  </div>
  <!-- Botones de acción -->
  <div style="margin-top: 1em; display: flex; gap: 1em;">
    <button type="submit" form="form_convocatoria" name="accion" value="documentos" class="button--primary">Gestionar Documentos</button>
    <button type="submit" form="form_convocatoria" name="accion" value="calificacion" class="button--primary">Dirigir Calificación</button>
  </div>
</div>
<form method="get" class="filter-bar relative">
  <input type="text" name="q" class="search-box" placeholder="Buscar curso..." value="{{ request.GET.q }}">
  <button class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
<!-- Form principal que envía los botones y el input radio -->
<form method="post" id="form_convocatoria" action="{% url 'ver_convocatorias' %}">
  {% csrf_token %}
  <div class="table__wrapper">
    <table class="table__primary" border="1" id="tabla_cursos">
      <thead>
        <tr>
          <th>Cod</th>
          <th>Curso</th>
          <th>Fecha de Apertura</th>
          <th>Fecha de Cierre</th>
          <th>Estado</th>
          <th>Selección</th>
        </tr>
      </thead>
      <tbody>
        {% for conv in convocatorias %}
        <tr>
          <td>{{ conv.id }}</td>
          <td>{{conv.curso.codigoCurso}}-{{ conv.curso.nombreCurso }}</td>
          <td>{{ conv.fechaPublicacion }}</td>
          <td>{{ conv.fechaCierre }}</td>
          <td>{{ conv.estadoConvocatoria }}</td>
          <td><input type="radio" name="convocatoria_id" value="{{ conv.id }}"></td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="6" class="text-center">No hay convocatorias disponibles.</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>
{% endblock %}
