<header>
  <div>
    <span>Facultad: {{ facultad }}</span>
    <div class="header__info">
      <div class="">
        {{ usuario }}
      </div>
      <span class="header__me dropdown">
        <div class="dropdown-content">
          <p><strong>Rol:</strong> {{ rol }}</p>
          <p><strong>Código:</strong> {{ codigo }}</p>
          <p><strong>Facultad:</strong> {{ facultad }}</p>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="button--primary w-full">Cerrar sesión</button>
          </form>
          {% if admin %}
          </br>
          <a href="/admin/">
            <button type="submit" class="button--primary w-full">Panel de Administración</button>
          </a>
          {% endif %}
        </div>
      </span>
    </div>
  </div>
</header>
